<!doctype html>
<html lang="en">
<%- include('_partials/head') %>
<body>
<!-- Preloader Start -->
<div id="preloader">
    <div class="preload-content">
        <div id="world-load"></div>
    </div>
</div>
<!-- Preloader End -->


<%- include('_partials/header',{req:req}) %>

<!-- ********** Hero Area Start ********** -->
<div class="hero-area height-600 bg-img background-overlay" style="background-image: url(img/portada.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="single-blog-title text-center">
                    <!-- Catagory -->
                    <div class="post-cta"><a href="#">Bienvenido!</a></div>
                    <p>
                    <h3>“Si puedes soñarlo, puedes hacerlo”</h3>
                    </p>
                    <p><h3>Walt Disney</h3></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ********** Hero Area End ********** -->
<!-- ********** Hero Area End ********** -->

<div class="main-content-wrapper section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- ============= Post Content Area Start ============= -->
            <div class="col-12 col-lg-8">

                <div class="world-latest-articles">
                    <div class="row">
                        <div class="col-12">
                            <div class="title">
                                <h5>Ultimas Ordenes</h5>
                            </div>

                            <% for(let order of lastFourPosts) { %>
                                <!-- Single Blog Post -->
                                <div class="single-blog-post post-style-4 d-flex align-items-center wow fadeInUpBig"
                                     data-wow-delay="0.2s">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src='/img/posts/<%= order.imageurl %>' alt="">
                                        <h6>Orden No: <%= order.id %></h6>
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">

                                        <p><h7>Tipo de pan: <%= order.bread.name %></h7></p>
                                        <p> <h7>Relleno: <%= order.relleno.name %></h7></p>
                                        <p> <h7>Ingrediente extra: <%= order.extra.name %></h7> </p>
                                        <p> <h7>Tipo de harina: <%= order.gluten.name %></h7> </p>
                                        <p><h7>Costo: C$<%= order.payment %></h7></p>
                                        <!-- Post Meta -->
                                        <div class="post-meta">
                                            <p>
                                                Ordenado el <a href="#">
                                                    <%= order.createdAt.toLocaleString() %>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            <% } %>

                        </div>
                    </div>
                </div>
            </div>

            <!-- ========== Sidebar Area ========== -->
            <div class="col-12 col-md-8 col-lg-4">
                <div class="post-sidebar-area wow fadeInUpBig" data-wow-delay="0.2s">
                    <!-- Widget Area -->
                    <%- include('_partials/acerca_de_widget') %>
                    <!-- Widget Area -->
                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Sigue conectado</h5>
                        <div class="widget-content">
                            <div class="social-area d-flex justify-content-center">
                                <a href="https://www.facebook.com/Panaderia-El-Le%C3%B3n-Dorado-1060341337312817"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Responsabilidad Social</h5>
                        <div class="widget-content">
                            <div class="widget-content">
                                <p>
                                    ¡Como empresa responsable apoyamos a los nuevos emprendedores del país, a través de este espacio publicitario SIN ANIMO DE LUCRO!
                                </p>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single-blog-post todays-pick">
                                <!-- Post Thumbnail -->
                                <div class="post-thumbnail">
                                    <img src="img/blog-img/ccsn.jpg" alt="">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content px-0 pb-0">
                                    <a href="https://rvurger.wixsite.com/retrovurger" class="headline">
                                        <h6>RETRO VURGER</h6>
                                    </a>
                                </div>

                                <!-- Post Thumbnail -->
                                <div class="post-thumbnail">
                                    <img src="img/blog-img/alma.png" alt="">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content px-0 pb-0">
                                    <a href="https://237e4a78-fd4e-4a8f-82f8-be18a06e8d4c-ide.cs50.xyz:8080/" class="headline">
                                        <h6>CREATIVE GAMING CLUB</h6>
                                    </a>
                                </div>


                                <!-- Post Thumbnail -->
                                <div class="post-thumbnail">
                                    <img src="img/blog-img/asamblea.jpg" alt="">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content px-0 pb-0">
                                    <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/bbe90a5bb646d50906257265005d21f8/08f19d6e2ca606fb062571450051ad76" class="headline">
                                        <h6>Reglamento de panaderías Nicaragua</h6>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Load More btn -->

    </div>
</div>

<!-- ***** Footer Area Start ***** -->
<%- include('_partials/footer') %>

</body>
</html>
