<!doctype html>
<html lang="en">
<%- include('_partials/head') %>
<body>
<!-- Preloader Start -->
<div id="preloader">
    <div class="preload-content">
        <div id="world-load"></div>
    </div>
</div>
<!-- Preloader End -->

<%- include('_partials/header',{req:req}) %>

<!-- ********** Hero Area Start ********** -->
<div class="hero-area height-600 bg-img background-overlay" style="background-image: url(/img/times_period.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="single-blog-title text-center">
                    <!-- Catagory -->
                    <div class="post-cta"><a href="#">Imagina</a></div>
                    <h3>Tenemos que ser muy rígidos en nuestras reglas y flexibles en nuestras
                        expectativas.</h3>
                    </p>
                    <p><h3>Mark Douglas</h3></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ********** Hero Area End ********** -->

<div class="main-content-wrapper section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">

                <div class="card">
                    <div class="card-header text-center py-3 bg-info text-white">
                        <h2 class="text-white">
                            <strong>Nueva Orden</strong>
                        </h2>
                    </div>
                    <div class="card-body">

                        <form action="/orders" id="new-order" method="post">

                            <div class="form-group">
                                <label for="breadId">Tipo de Pan</label>
                                <select class="form-control" name="breadId" id="breadId" onchange="breadFunction()">
                                    <% for(let bread of BreadCategories) { %>
                                        <option value="<%= bread.id %>"><%= bread.name %></option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="extraId">Extra</label>
                                <select class="form-control" name="extraId" id="extraId" onchange="extraFunction()">
                                    <% for(let extra of ExtraCategories) { %>
                                        <option value="<%= extra.id %>"><%= extra.name %></option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="rellenoId">¿Desea que su pan lleve gluten?</label>
                                <select class="form-control" name="rellenoId" id="rellenoId" onchange="rellenoFunction()">
                                    <% for(let relleno of RellenoCategories) { %>
                                        <option value="<%= relleno.id %>"><%= relleno.name %></option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="glutenId">¿Desea que su pan lleve gluten?</label>
                                <select class="form-control" name="glutenId" id="glutenId" onchange="glutenFunction()">
                                    <% for(let gluten of GlutenCategories) { %>
                                        <option value="<%= gluten.id %>"><%= gluten.name %></option>
                                    <% } %>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-lg btn-outline-info px-4">Pedir</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Imagen del pan -->
<script>
    function breadFunction() {
        let b_image_n = document.getElementById("breadId").value;
        document.getElementById("bread-img").src="/img/posts/breads/" + b_image_n +".jpg";
    }

    function extraFunction() {
        let e_image_n = document.getElementById("extraId").value;
        document.getElementById("extra-img").src="/img/posts/extras/" + e_image_n +".jpg";
    }

    function rellenoFunction() {
        let r_image_n = document.getElementById("rellenoId").value;
        document.getElementById("relleno-img").src="/img/posts/rellenos/" + r_image_n +".jpg";
    }

    function glutenFunction() {
        let g_image_n = document.getElementById("glutenId").value;
        document.getElementById("gluten-img").src="/img/posts/gluten/" + g_image_n +".jpg";
    }

</script>

<!-- Imagen del Pan-->
<div class="post-thumbnail">
        <img id="bread-img" src="/img/posts/breads/1.jpg" alt="">
</div>

<!-- Imagen del Extra-->
<div class="post-thumbnail">
    <img id="extra-img" src="/img/posts/extras/1.jpg" alt="">
</div>

<!-- Imagen del Relleno -->
<div class="post-thumbnail">
    <img id="relleno-img" src="/img/posts/rellenos/1.jpg" alt="">
</div>

<!-- Imagen de la masa -->
<div class="post-thumbnail">
    <img id="gluten-img" src="/img/posts/gluten/1.jpg" alt="">
</div>

<!-- ***** Footer Area Start ***** -->
<%- include('_partials/footer') %>
</body>
</html>
